.body {
  position: relative;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0 20px 0;
}

.header .basket img {
  height: 20px;
  width: 25px;
  padding: 10px;
  border: 2px solid #767272;
  border-radius: 50%;
  cursor: pointer;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1029px;
  height: 512px;
  background-size: cover;
}

.slick-dots li button:before {
  font-size: 20px;
}

.button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #0E49B5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.search-bar-cnt {
  position: relative;
  height: 60px;
}

.search-bar-cnt .search-bar {
  width: 100%;
  padding: 8px;
  padding-left: 80px;
  height: 60px;
  border: 1px solid #dddada;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 20px;
}

.search-bar-cnt .searchbar-btn-cnt {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar-cnt .settings-btn {
  background-image: url("../img/icons/settings.svg");
}

.search-bar-cnt .filter-btn {
  margin-right: 15px;
  background-image: url("../img/icons/filter-icon.svg");
}

.search-bar-cnt .searchbar-btn {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40px;
  width: 40px;
  background-color: #0E49B5;
  border-radius: 50%;
  border: none;
  background-origin: content-box;
  padding: 5px;
}

.slider-header-cnt {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  font-family: Roboto, sans-serif;
}

.slider-header {
  position: relative;
  font-weight: 500;
  font-size: 72px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.shop-grid-cnt {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-item {
  border-radius: 10px;
  background-color: #fff;
  max-width: 300px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.shop-item-inner {
  padding: 15px 50px;
  height: 382px;
}

.item-img {
  width: 200px;
}

.flex-column-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop-item-title {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}

.shop-item-description {
  color: #767272;
  font-size: 14px;
  font-weight: 500;
}

.shop-item-cnt {
  margin-bottom: 8px;
}

.flex-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-item-available-icon {
  border: 1px solid #1BC943;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/check.svg");
  background-position: center;
  background-size: 100%;
  margin-right: 5px;
}

.shop-item-cross-icon {
  width: 22px;
  height: 22px;
  background-image: url("../img/icons/close.svg");
  background-position: center;
  background-size: 100%;
  margin-right: 5px;
}

.item-stat {
  padding: 30px 15px;
  background-color: #DAE2EA;
  color: #3B3E66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
}

.stat-wrapper-left {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.stat-wrapper-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.stat-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */

.shop-cnt {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-menu {
  width: 30%;
  position: relative;
}

.filter-cnt {
  position: sticky;
  top: 0;
}

.filter-header {
  padding: 20px;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  flex-direction: row;
}

.filter-header-collapsed {
  background-color: #EDF3FF;
}

.filter-header-title {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}

.empty-cnt {
  display: flex;
}

.filter-expand-icon {
  width: 20px;
  height: 20px;

  background: url('../img/icons/chevron-down.svg');
  background-size: 20px;
}

.filter-content {
  padding: 30px 20px;
  flex-direction: column;
}

.filter-input-label {
  width: 100px;
  font-size: 15px;
}

.filter-input {
  width: 100%;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  padding: 10px 30px;
  color: #000000;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.filter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-checkbox {
  background-color: #C4C4C4;
  width: auto;
  margin-right: 10px;
}

.two-col-list {
  column-count: 2;
}

.filter-list > :not(:last-child) {
  margin-bottom: 15px;
}

/* POP UP */
.pop-up-cnt {
  /* changes value from JS none -> flex*/
  display: none;

  /*background-color: rgba(0, 0, 0, 0.8);*/
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  align-items: center;
}

.pop-up-bg {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 1;
}

.pop-up-card {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.pop-up-card .pop-up-card-section:not(:last-child) {
  border-right: 1px solid #C4C4C4;
}

.pop-up-card-section {
  padding: 30px 60px;
}

.pop-up-flex-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up-image {
  width: 250px;
  height: 250px;
}

.pop-up-description-cnt {
  width: 100%;
}

.pop-up-description {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pop-up-item-description {
  margin-bottom: 15px;
}

.pop-up-item-title {
  font-size: 15px;
  font-weight: 400;
  color: #3d3d3d;
}

.pop-up-item-value {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.pop-up-card-price {
  font-size: 35px;
  font-weight: 600;
  color: #000;
}

.pop-up-stock {
  font-size: 20px;
  color: #000;
  margin-top: 40px;
  margin-bottom: 40px;
}

.error {
  background-color: #ff8b8b;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.shopping-cart{
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform:translateX(600px);
  width: 434px;
  height: 505px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  
}

.shopping-cart-header{
  border-bottom: 1px solid #C4C4C4 ;
  width: 100%;
}

.shopping-cart-header h2{
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin: 20px;
}
.shopping-cart-header h3{
  font-size: 18px;
  margin: 20px;
  color: #767272;

}

.shoping-cart-footer button{
  width: 250px;
  height: 48px;
  border:none;
  border-radius: 6px;
  color: #FFFFFF;
  background-color: #3C44B1;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.cart{
  height: 50px;
  width: 100%;
  background: #e2e2e2c1;
  position: relative;
}

.cart_info{
  font-size: 24px;
}

.cart_items{
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform:translateX(600px);
  width: 434px;
  height: 505px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  
}

.cart_items.active{
  display: block;
}

.cart_img{
  width: 50px;
  display: inline-block;
}