.wrapper{
    max-width: 1024px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 5px 0 20px 0;
    .basket img{
        height: 20px;
        width: 25px;
        padding: 10px;
        border: 2px solid #767272;
        border-radius: 50%;
    }   
}

.slider-item{
    display: flex;
    width: 1029px;
    height: 512px;
    background-size: cover;
}

.slick-dots li button:before
{
    font-size: 20px;
}

.button{
   width: 150px;
   height: 50px;
   transform: translateX(440px) translateY(-250px);
   color:#FFFFFF;
   background-color: #0E49B5;
   border-radius: 5%;
   border:none;
   cursor: pointer;
}

.search-bar-cnt {
    position: relative;
    height: 60px;

    .search-bar {
        width: 100%;
        padding: 8px;
        padding-left: 80px;
      
        height: 60px;
        border: 1px solid #dddada;
        box-sizing: border-box;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
      
        background-image: url("../img/icons/search.svg");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 20px;
      }

    .searchbar-btn-cnt {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
      }
      
      .settings-btn {
        background-image: url("../img/icons/settings.svg");
      }
      
      .filter-btn {
        margin-right: 15px;
        background-image: url("../img/icons/filter-icon.svg");
      }
      
      .searchbar-btn {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 40px;
        width: 40px;
        background-color: #0E49B5;
        border-radius: 50%;
        border: none;
        background-origin: content-box;
        padding: 5px;
      }
  }

